= render 'layouts/header'
.posts
  .posts__area
    .posts__box
      %h2 新規登録
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.label "ニックネームを入力してください"
          %br/
          = f.text_field :nickname, autofocus: true, maxlength: "6", id: "input-default"
        .field
          = f.label "Eメールを入力してください"
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", id: "input-default"
        .field
          = f.label "パスワードを入力してください"
          - if @minimum_password_length
            %em
              (#{@minimum_password_length}文字以上)
          %br/
          = f.password_field :password, autocomplete: "new-password", id: "input-default"
        .field
          = f.label "確認のため再度パスワードを入力してください"
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password", id: "input-default"
        .actions
          = f.submit "登録する", id: "input-btn"
= render 'layouts/footer'