.mypage
  .mypage__name
    = "#{current_user.nickname}さんのマイページ"
  .mypage__area
    - @photo.each do |photo|
      .mypage__box
        = link_to "/", style: "text-decoration: none;" do
          .mypage__photo
            = image_tag url_for(photo.image.to_s), id: "pickup-image"
          .mypage__body
            %h3.mypage-name 
              = photo.name
            .mypage-box
              .mypage-text
                = photo.text
            - if user_signed_in? && current_user.id == photo.user_id
              .mypage-edit
                = link_to '編集', edit_photo_path(photo), method: :get, id: "defalut-link"
              .mypage-delete
                = link_to '削除', "/photos/#{photo.id}", method: :delete, id: "defalut-link"