= render 'layouts/header'
.posts
  .posts__area
    .posts__box
      %h2 ログイン
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          = f.label "Eメールを入力してください"
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", id: "input-default"
        .field
          = f.label "パスワードを入力してください"
          %br/
          = f.password_field :password, autocomplete: "current-password", id: "input-default"
        - if devise_mapping.rememberable?
          .field
            = f.check_box :remember_me
            = f.label "パスワードを保存しますか？"
        .actions
          = f.submit "ログイン", id: "input-btn"
= render 'layouts/footer'