.main-contents__album
  .album__box
    = link_to "/", style: "text-decoration: none;" do
      = image_tag src="https://pro.foto.ne.jp/free/img/images_thumb/cat0095-066.jpg", id: "pickup-image"
      .album__photo
      .album__body
        %h3.album-name 
          アルバム名
  .album__box
    = link_to "/", style: "text-decoration: none;" do
      = image_tag src="https://pro.foto.ne.jp/free/img/images_thumb/cat0095-066.jpg", id: "pickup-image"
      .album__photo
      .album__body
        %h3.album-name 
          アルバム名
  .album__box
    = link_to "/", style: "text-decoration: none;" do
      = image_tag src="https://pro.foto.ne.jp/free/img/images_thumb/cat0095-066.jpg", id: "pickup-image"
      .album__photo
      .album__body
        %h3.album-name 
          アルバム名
  .album__box
    = link_to "/", style: "text-decoration: none;" do
      = image_tag src="https://pro.foto.ne.jp/free/img/images_thumb/cat0095-066.jpg", id: "pickup-image"
      .album__photo
      .album__body
        %h3.album-name 
          アルバム名
  .album__box
    = link_to "/", style: "text-decoration: none;" do
      = image_tag src="https://pro.foto.ne.jp/free/img/images_thumb/cat0095-066.jpg", id: "pickup-image"
      .album__photo
      .album__body
        %h3.album-name 
          アルバム名
  .album__box
    = link_to "/", style: "text-decoration: none;" do
      = image_tag src="https://pro.foto.ne.jp/free/img/images_thumb/cat0095-066.jpg", id: "pickup-image"
      .album__photo
      .album__body
        %h3.album-name 
          アルバム名