.main-contents
  .main-contents__image
    = link_to '/' do
      = image_tag src="https://rank1-media.com/file/parts/I0003875/73e68ce9a3c2dc9827cdf6e7db68282c.jpg", id: "main-image"
  .main-contents__info
    可愛いペットの写真を投稿しましょう
  = render 'pickup_contents'
  .main-contents__info
    みんなのアルバム
  = render 'album_contents'
  .main-contents__info
    全ての動物に救いの手を
  .main-contents__protection
    .main-contents__protection__image
      = image_tag src="https://pro.foto.ne.jp/free/img/images_big/m030633.jpg"
  .main-contents__bottom
    大切な家族との想い出を記録する(無料登録はこちら)