.main-contents__pickup
  .pickup__title
    新着ペット一覧
  .pickup__box
    = link_to "/", style: "text-decoration: none;" do
      = image_tag src="https://girlydrop.com/wp-content/uploads/2018/05/IMG_7140.jpg", id: "pickup-image"
      .pickup__photo
      .pickup__body
        %h3.photos-name 
          名前
        .photos-box
          .photos-text
            テキストテキストテキストテキストテキストテキスト
  .pickup__box
    = link_to "/", style: "text-decoration: none;" do
      = image_tag src="https://girlydrop.com/wp-content/uploads/2018/05/IMG_7140.jpg", id: "pickup-image"
      .pickup__photo
      .pickup__body
        %h3.photos-name 
          名前
        .photos-box
          .photos-text
            テキストテキストテキストテキストテキストテキスト
  .pickup__box
    = link_to "/", style: "text-decoration: none;" do
      = image_tag src="https://girlydrop.com/wp-content/uploads/2018/05/IMG_7140.jpg", id: "pickup-image"
      .pickup__photo
      .pickup__body
        %h3.photos-name 
          名前
        .photos-box
          .photos-text
            テキストテキストテキストテキストテキストテキスト
  .pickup__box
    = link_to "/", style: "text-decoration: none;" do
      = image_tag src="https://girlydrop.com/wp-content/uploads/2018/05/IMG_7140.jpg", id: "pickup-image"
      .pickup__photo
      .pickup__body
        %h3.photos-name 
          名前
        .photos-box
          .photos-text
            テキストテキストテキストテキストテキストテキスト
  .pickup__box
    = link_to "/", style: "text-decoration: none;" do
      = image_tag src="https://girlydrop.com/wp-content/uploads/2018/05/IMG_7140.jpg", id: "pickup-image"
      .pickup__photo
      .pickup__body
        %h3.photos-name 
          名前
        .photos-box
          .photos-text
            テキストテキストテキストテキストテキストテキスト
  .pickup__box
    = link_to "/", style: "text-decoration: none;" do
      = image_tag src="https://girlydrop.com/wp-content/uploads/2018/05/IMG_7140.jpg", id: "pickup-image"
      .pickup__photo
      .pickup__body
        %h3.photos-name 
          名前
        .photos-box
          .photos-text
            テキストテキストテキストテキストテキストテキスト
